.editGroupFalse {
  display: none;
}

.editGroupTrue {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.area_buttons > button {
  margin-right: 20px;
  padding: 10px 25px;
  margin-top: 40px;
  background-size: 100% 100%;
}

.btn_editCardGroup {
  position: inherit !important;
  width: auto !important;
  height: auto !important;
}
